<section class="fdb-block mt-5">
  <div class="container bg-r py-5" style="background-image: url(https://www.buyholo.net/img/holochain-logo-tr.png);">

    <div class="row justify-content-start">
      <div class="col-12 col-sm-10 col-md-8 text-center text-sm-left">

        <h1 class="text-border">Coolcats: The Decentralized Twitter</h1>

        <p class="lead text-border"><b>Coolcats</b> is built on top of <b>Holochain</b> and <b>Angular</b> in order to
          show the power
          of these two frameworks and to give useful example to others developers.</p>
        <p class="mt-4">
          <a class="btn btn-primary ml-sm-3 mr-3 mr-sm-0 mt-3 mt-sm-0" href="javascript:void(1)">Login</a>
        </p>
      </div>
    </div>
  </div>
</section>