<h2>Anchor test</h2>

<div>
  <input type="text" [(ngModel)]="anchor.anchor.anchor_type">
  <input type="text" [(ngModel)]="anchor.anchor.anchor_text">
  <button (click)="add(anchor)">add</button>
</div>

<div>
  <input type="text" [(ngModel)]="anchor.anchor.id">
  <button (click)="getById(anchor.anchor)">getById</button>
</div>

<div>
  <button (click)="getAll()">getAll</button>
</div>

<div *ngFor="let an of anchors$ | async">
  <span>{{ an.anchor_type }}</span>
  <span>{{ an.anchor_text }}</span>
</div>