<h2>Post test</h2>

<div>
  <input type="text" [(ngModel)]="post1.message">
  <input type="text" [(ngModel)]="post1.stamp">
  <button (click)="add(post1)">add</button>
</div>

<div>
  <input type="text" [(ngModel)]="post2.id">
  <button (click)="getById(post2)">getById</button>
</div>

<div>
  <input type="text" [(ngModel)]="post3.handle">
  <button (click)="getWithQuery(post3)">getWithQuery</button>
</div>

<div *ngFor="let p of posts$ | async">
  <span>{{ p.message }}</span>
  <span>{{ p.stamp }}</span>
</div>